/* div{
    font-size: 20px;
}
p{
    font-size: 6em;
}
.a{
    font-size: 120px;
} */
/* p{
    font-size: 5rem;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
div
{
    background-color: blue;
    width: 100vw;
    height: 100vh;
  
    
}
